.my_style {
    background-color: rgb(39, 232, 18);
    color: rgb(244, 20, 73);
    /* border: 5px solid black; */
    border: 5px dotted black;
}

#my_id {
    background-color: rgb(237, 187, 156);
    color: rgb(235, 11, 45);
}

p {
    background-color: rgb(96, 174, 223);
    color: blue;
}

h1 {
    color: black;
}