*{
    margin:0;
    padding: 0;
}

.parant {
   background-color: rgb(76, 16, 16);
   width: 100%;
   height: 370px;
}

.child {
    display: inline-block;
     background-color: rgb(255, 206, 214);
     width: 100px;
     height: 100px;
     margin: 10px;
}